{% extends 'accounts/base.html' %}

{% block real_content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div>
</div>
<div class="card" style="width: 500px; height: 400px;">
    <div class="card-header">
        Bienvenido!
    </div>
    <button id="login-btn" class="btn btn-dark .btn-sm" id="buton-ingresa">Ingresar</button>

    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}

    <div class="password-container">
        <a href="{% url 'accounts:restore' %}">No recuerdo mi contraseña</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#login-btn").modalForm({
            formURL: "{% url 'accounts:logmodal' %}"
        });
    });
</script>
</div>
{% endblock %}