{% extends 'accounts/base.html' %}

{% block real_content %}
  <div class="card" style="width: 500px; height: 450px;">
    <div class="card-header">
      Recuperación de contraseña
    </div>
    <form method="post">
      {% csrf_token %}
      {{form.new_password1}}
      {{form.new_password2}}
      <button type="submit" class="btn btn-dark .btn-sm" 
      id="buton-cambia">Cambiar contraseña</button>
    </form>
    <p>{{message}}</p>
    {% for field in form %}
    <p id="errors">{{field.errors}}</p>
    {% endfor %}
  </div>
  </div>
  {% endblock %}
