{% extends 'accounts/base.html' %}

{% block real_content %}

    <div class="card" style="width: 500px; height: 450px;">
        <div class="card-header">
            Registro de invitado nuevo
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="username-container">
                    <div class="username-container">
                        {{form.username}}
                    </div>
                    <div class="email-container">
                        {{form.email}}
                    </div>
                    <div class="password1-container">
                        {{form.password1}}
                    </div>
                    <div class="password2-container">
                        {{form.password2}}
                    </div>
            </div>
            {% for field in form %}
            <p id="errors">{{field.errors}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-dark .btn-sm" id="buton-ingresa">Crear cuenta</button>
        </form>
    </div>

{% endblock %}
