{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="card" style="width: 500px; height: 450px;">
        <div class="card-header">
            Registrate!
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="username-container">
                    <div class="username-container">
                        {{form.username}}
                    </div>
                    <div class="email-container">
                        {{form.email}}
                    </div>
                    <div class="password1-container">
                        {{form.password1}}
                    </div>
                    <div class="password2-container">
                        {{form.password2}}
                    </div>
            </div>
            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}
            {% for field in form %}
            <p id="errors">{{field.errors}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-dark .btn-sm" id="buton-ingresa">Crear cuenta</button>
                <div class="login-container">
                    <p>¿Ya tienes cuenta?<a href="{% url 'accounts:login' %}"> Inicia sesión</a></p>
                </div>
        </form>
    </div>
</body>

</html>