{% extends 'accounts/base.html' %}

{% load static %}

{% block title %}Cambiar estado{% endblock %}

{% block style_base %}

{% endblock %}

{% block real_content %}
<head>
    <title>Actualizar estado</title>
    <meta charset="utf-8" />
    <meta name="viewport">
</head>
 
<body>
    <form action="" method="post">
        {% csrf_token %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 align = center> ¿Estas seguro de guardar la actividad? {{ actividad.nombre }} <h2>
        <h2 align = center> <button   type = "submit" class ="btn btn-success"> Guardar </button>
        <button class ="btn btn-danger"> <a href="{% url 'FeedActividades' %}" style="color:white"> Cancelar </a> </button> </h2>
    </form>
</body>

{% endblock %}