{% extends 'accounts/base.html' %}

{% load static %}

{% block title %}Actividades{% endblock %}

{% block style_base %}

{% endblock %}

{% block real_content %}

<div>
<h1 align = center> Actividades </h1>
<div 
     margin = 50px;
     align = center
        >
<table>
{% for actividad in actividades %}
  <tr>
  <td>{{ actividad.nombre }}</td>
  <td>{{ actividad.descripcion }}</td>
  <td>{{ actividad.fechaEntrega }}</td>
  <td>{{ actividad.estado }}</td>
  <td>{{ actividad.id }}</td>
  
  <td>  <button type="button" class="btn btn-danger"> <a href={% url 'editar_Actividad' id=actividad.id %}>Modificar</button> </td>
  <td>  <button type="button" class="btn btn-danger"><a href={% url 'eliminar_Actividad' id=actividad.id %}>Eliminar</button> </td>

</tr>   
    
{% endfor %}
</table>
</div>
{% endblock %}